<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Treningomat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/admin/addTrainer}" enctype="multipart/form-data"
                  th:object="${trainer}" method="post" class="form-horizontal"
                  role="form">
                <h2>Registriraj treeenera</h2>
                <div class="form-trainer">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{name}" placeholder="Ime"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-trainer">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{surname}" placeholder="Prezime"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-trainer">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{address}" placeholder="Adresa"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-trainer">
                    <div class="col-sm-9">
                            <select class="form-control" th:field="*{city}">
                                <option th:each="c : ${allCities}" th:value="${c.id}" th:text="${c}">Grad</option>
                            </select>
                     </div>
                </div>
                <div class="form-trainer">
                    <div class="col-sm-9">
                        <select class="form-control" th:field="*{sports}" multiple="multiple">
                            <option th:each="s : ${allSports}" th:value="${s.id}" th:text="${s}">Sport</option>
                        </select>
                    </div>
                </div>
                <div class="form-trainer">
                    <div class="col-sm-9">
                        <input type="number" th:field="*{PID}" placeholder="OIB"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-trainer">
                    <div class="col-sm-9">
                        <input type="tel" th:field="*{phoneNumber}" placeholder="Broj mobitela"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-trainer">
                    <div class="col-sm-9">
                        <input type="file" th:field="*{file}" placeholder="Slika [.jpg, .gif, .png]"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-trainer">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{username}" placeholder="Username"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                            class="validation-message"></label>
                    </div>
                </div>

                <div class="form-trainer">
                    <div class="col-sm-9">
                        <input type="password" th:field="*{password}"
                               placeholder="Password" class="form-control"/> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label>
                    </div>
                </div>

                <div class="form-trainingGroup">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Registriraj trenera</button>
                    </div>
                </div>

                <span th:utext="${message}"></span>
            </form>
        </div>
    </div>
</div>

</body>
</html>