<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="base::head"></head>

<body>
<div th:replace="base :: header"></div>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form autocomplete="off" action="#" th:action="@{/trainer/groups/edit/{id}(id=${trainingGroup.id})}"
                      enctype="multipart/form-data"
                      th:object="${trainingGroup}" method="post" class="form-horizontal"
                      role="form">
                    <h2>Uredi grupu</h2>

                    <div class="form-trainingGroup">
                        <div class="col-sm-9">
                            <input type="text" th:field="*{name}" th:value="${trainingGroup.name}"
                                   class="form-control"/>
                        </div>
                    </div>


                    <div class="form-trainingGroup">
                        <div class="col-sm-9">
                            <select class="form-control" th:field="*{sport}">
                                <option th:each="s : ${trainersSports}" th:value="${s.id}" th:text="${s}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-trainingGroup">
                        <div class="col-sm-9">
                            <input type="text" th:field="*{place}" th:placeholder="#{trainingGroup.place}"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-trainingGroup">
                        <div class="col-sm-9">
                            <input type="number" min="0" th:field="*{capacity}" th:placeholder="#{trainingGroup.capacity}"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-trainingGroup">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary btn-block">Uredi grupu</button>
                        </div>
                    </div>


                    <!--/*@thymesVar id="message" type="String"*/-->
                    <span th:utext="${message}"></span>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>