<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="base::head"></head>

<body>
<div th:replace="base :: header"></div>
<div id="page-wrapper">
    <div class="container-fluid">

        <div style="width: 270px">
            <div style="float: left; width: 120px">
                <form th:action="@{/trainer/receipts/all}" method="get">
                    <button type="submit" class="btn btn-primary active">Svi računi</button>
                </form>
            </div>
            <div style="float: right; width: 150px">
                <form th:action="@{/trainer/receipts/nonConfirmed}" method="get">
                    <button type="submit" class="btn btn-primary active">Neplaćeni računi</button>
                </form>
            </div>
        </div>
        <br/><br/>

        <h3>Računi:</h3>

        <div class="container">
            <div th:if="${#lists.isEmpty(receipts)}">
                <h2><p>Nema racuna</p></h2>
            </div>

            <div th:unless="${#lists.isEmpty(receipts)}">
                <table class="table">
                    <tr>
                        <th>Racun stvoren</th>
                        <th>Ime</th>
                        <th>Prezime</th>
                        <th>Trening grupa</th>
                        <th>Placeno</th>
                    </tr>

                    <tr th:each="r : ${receipts}">
                        <td><p th:text="${r.createdDate}"></p></td>
                        <td><p th:text="${r.attendant.name}"></p></td>
                        <td><p th:text="${r.attendant.surname}"></p></td>
                        <td><p th:text="${r.trainingGroup.name}"></p></td>

                        <td th:if="${r.confirmed}">
                            <form th:action="@{/trainer/receipt/pay?paid=false}" method="post">
                                <button type="submit" class="btn btn-success btn-block" th:name="id"
                                        th:value="${r.id}">
                                    Oznaci neplaćeno
                                </button>
                            </form>
                        </td>
                        <td th:unless="${r.confirmed}">
                            <form th:action="@{/trainer/receipt/pay?paid=true}" method="post">
                                <button type="submit" class="btn btn-danger btn-block" th:name="id"
                                        th:value="${r.id}">
                                    Označi plaćeno
                                </button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>