<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Treningomat</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <h2>Popis grupa</h2>
    <div class="row" >
        <div class="col-md-4" th:each="g : ${allTrainingGroups}">
            <div class="thumbnail">
                <div class="caption">
                    <p th:text="${g.name}"></p>
                    <p th:text="${g.place}"></p>
                    <p th:text="${g.capacity}"></p>
                    <form th:action="@{/trainer/groups/delete/{id}(id=${g.id})}" method="post">
                        <button type="submit" class="btn btn-primary btn-block">Obriši grupu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>