<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="base::head"></head>

<body>
<div th:replace="base :: header"></div>
<div id="page-wrapper">
    <div class="container">
        <h2>Zahtjevi za upad u grupu</h2>
        <div class="container">
            <ul class="list-group">
                <div th:each="gr : ${allGroupRequests}">
                    <li class="list-group-item clearfix">
                        <div class="caption">
                            <p th:text="'Naziv grupe: ' + ${gr.getToTrainingGroup().getName()}"></p>
                            <p th:text="'Pošiljatelj zahtjeva: ' + ${gr.getAttendant().getUsername()}"></p>
                        </div>
                        <span class="pull-right">
                        <form th:action="@{/trainer/groupRequest/decline/{id}(id=${gr.getId()})}" method="post">
                            <button type="submit" class="btn btn-danger btn-block"><span
                                    class="glyphicon glyphicon-remove"></span> Odbij</button>
                        </form>
                    </span>
                        <span class="pull-right">
                        <form th:action="@{/trainer/groupRequest/accept/{id}(id=${gr.getId()})}" method="post">
                            <button type="submit" class="btn btn-primary btn-block"><span
                                    class="glyphicon glyphicon-ok"></span> Prihvati</button>
                        </form>
                    </span>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>


</body>
</html>