<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base::head"></head>
<body>
<div th:include="base::header"></div>
<div id="page-wrapper">
    <div class="container-fluid">
        <h2>Popis grupa</h2>
        <div class="container">
            <ul class="list-group-item clearfix">
                <div th:unless="${#lists.isEmpty(allTrainingGroups)}" th:each="g : ${allTrainingGroups}">
                    <li class="list-group-item clearfix">
                        <div class="caption">
                            <p th:text="'Naziv grupe: ' + ${g.name}"></p>
                            <p th:text="'Mjesto održavanja: ' + ${g.place}"></p>
                            <p th:text="'Kapacitet grupe: ' + ${g.capacity}"></p>
                        </div>
                    </li>
                </div>
                <div th:if="${#lists.isEmpty(allTrainingGroups)}">
                    <li class="list-group-item clearfix">
                        <p>Niste niti u jednoj grupi</p>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>
</body>
</html>