<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base::head"></head>
<body>
<div th:include="base::header"></div>
<div id="page-wrapper">
    <div class="container-fluid">
        <h2>Profil korisnika</h2>
        <div class="container">
            <ul class="list-group-item clearfix">
                <form th:action="@{/attendant/groups}" method="get">
                    <button class="btn btn-md btn-primary btn-block" type="Submit">Vidi grupe</button>
                </form>

                <div th:if="${#lists.isEmpty(allNonPaidReceipts)}">
                    <form th:action="@{/attendant/receipts}" method="get">
                        <button class="btn btn-md btn-info btn-block" type="Submit"
                                th:text="'Racuni (' + ${#lists.size(allNonPaidReceipts)} + ')'"></button>
                    </form>
                </div>
                <div th:unless="${#lists.isEmpty(allNonPaidReceipts)}">
                    <form th:action="@{/attendant/receipts}" method="get">
                        <button class="btn btn-md btn-danger btn-block" type="Submit"
                                th:text="'Racuni (' + ${#lists.size(allNonPaidReceipts)} + ')'"></button>
                    </form>
                </div>

                <div th:if="${#lists.isEmpty(allTrainingCommentRequests)}">
                    <form th:action="@{/attendant/trainingComments}" method="get">
                        <button class="btn btn-md btn-info btn-block" type="Submit"
                                th:text="'Trening komentari (' + ${#lists.size(allTrainingCommentRequests)} + ')'"></button>
                    </form>
                </div>
                <div th:unless="${#lists.isEmpty(allTrainingCommentRequests)}">
                    <form th:action="@{/attendant/trainingComments}" method="get">
                        <button class="btn btn-md btn-info btn-block" type="Submit"
                                th:text="'Trening komentari (' + ${#lists.size(allTrainingCommentRequests)} + ')'"></button>
                    </form>
                </div>

                <div th:if="${#lists.isEmpty(allTrainerCommentRequests)}">
                    <form th:action="@{/attendant/trainerComments}" method="get">
                        <button class="btn btn-md btn-info btn-block" type="Submit"
                                th:text="'Komentari trenera (' + ${#lists.size(allTrainerCommentRequests)} + ')'"></button>
                    </form>
                </div>
                <div th:unless="${#lists.isEmpty(allTrainerCommentRequests)}">
                    <form th:action="@{/attendant/trainerComments}" method="get">
                        <button class="btn btn-md btn-info btn-block" type="Submit"
                                th:text="'Komentari trenera (' + ${#lists.size(allTrainerCommentRequests)} + ')'"></button>
                    </form>
                </div>

                <div th:if="${commentSubscription}">
                    <form th:action="@{/attendant/commentSubscription}" method="POST">
                        <button class="btn btn-md btn-danger btn-block" type="Submit">Ukloni pretplatu na trening
                            komentare.
                        </button>
                    </form>
                </div>
                <div th:unless="${commentSubscription}">
                    <form th:action="@{/attendant/commentSubscription}" method="POST">
                        <button class="btn btn-md btn-info btn-block" type="Submit">Vrati pretplatu na trening
                            komentare
                        </button>
                    </form>
                </div>
            </ul>
        </div>
    </div>
</div>
</body>
</html>