<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="attendant/comment_base::head"></head>
<body>
<div th:include="base::header"></div>
<div id="page-wrapper">
    <div class="container">
        <h2>Zahtjevi za komentare : </h2>
        <div class="container">
            <ul class="list-group-item clearfix">
                <div th:unless="${#lists.isEmpty(allTrainingCommentRequests)}"
                     th:each="r : ${allTrainingCommentRequests}">
                    <li class="list-group-item clearfix">
                        <div class="caption">
                            <p th:text="'Vrijeme održavanja ' + ${#dates.format(r.training.startAt, 'dd-MM-yyyy HH:mm')}"></p>
                            <p th:text="'Mjesto održavanja: ' + ${r.training.trainingGroup.place}"></p>
                        </div>
                        <span class="pull-right">
                        <form th:action="@{/attendant/trainingComments/comment/{id}(id=${r.id})}" method="GET">
                            <button type="submit" class="btn btn-info btn-block"><span
                                    class="glyphicon glyphicon-comment"></span> Komentiraj</button>
                        </form>
                    </span>
                        <span class="pull-right">
                        <form th:action="@{/attendant/trainingComments/delete/{id}(id=${r.id})}" method="POST">
                            <button type="submit" class="btn btn-danger btn-block"><span
                                    class="glyphicon glyphicon-remove"></span> Obriši</button>
                        </form>
                    </span>
                    </li>
                </div>
                <div th:if="${#lists.isEmpty(allTrainingCommentRequests)}">
                    <li class="list-group-item clearfix">
                        <p>Nema zahtjeva za komentiranje treninga.</p>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>
</body>

<script>
    $(function () {
        $('.btn-danger').click(function () {
            return window.confirm("Jesi li siguran da želiš obrisati ?");
        });
    });
</script>
</html>