<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base::head"></head>
<body>
<div th:include="base::header"></div>
<div id="page-wrapper">
    <div class="container-fluid">
        <h2>Zahtjevi za komentare : </h2>
        <div class="container">
            <ul class="list-group-item clearfix">
                <div th:unless="${#lists.isEmpty(allTrainerCommentRequests)}"
                     th:each="r : ${allTrainerCommentRequests}">
                    <li class="list-group-item clearfix">
                        <div class="caption">
                            <p th:text="'Trener ' + ${r.trainer.name + ' ' + r.trainer.surname}"></p>
                        </div>
                        <span class="pull-right">
                        <form th:action="@{/attendant/trainerComments/comment/{id}(id=${r.id})}" method="GET">
                            <button type="submit" class="btn btn-info btn-block"><span
                                    class="glyphicon glyphicon-comment"></span> Komentiraj</button>
                        </form>
                    </span>
                        <span class="pull-right">
                        <form th:action="@{/attendant/trainerComments/delete/{id}(id=${r.id})}" method="POST">
                            <button type="submit" class="btn btn-danger btn-block"><span
                                    class="glyphicon glyphicon-remove"></span> Obriši</button>
                        </form>
                    </span>
                    </li>
                </div>
                <div th:if="${#lists.isEmpty(allTrainerCommentRequests)}">
                    <li class="list-group-item clearfix">
                        <p>Nema zahtjeva za komentiranje trenera.</p>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>
</body>

<script>
    $(function () {
        $('.btn-danger').click(function () {
            return window.confirm("Jesi li siguran da želiš obrisati ?");
        });
    });
</script>
</html>