* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url(bg.jpg);
    font-family: "Ubuntu", helvetica;
}

#styled-select {
    font-size: 20px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    border: 1.5px solid #008ae6;
    color: #4d4d33;
    border-radius: 3px;
}

#styled-select select {
    border: 1.5px solid #008ae6;
    color: #4d4d33;
    font-size: 20px;
    padding: 2px 10px;
    -webkit-appearance: none;
}

a {
    text-decoration: none;
    color: #5c5c3d;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

a:hover {
    color: #4d4d33;
}

.container-form {
    background: rgba(255, 255, 255, 0.7);
    padding: 25px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.container-tabs {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.container-tabs:after {
    content: "";
    display: table;
    clear: both;
}

.container-tabs li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background: rgba(107, 107, 71, 0.25);
    color: #4d4d33;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.container-tabs li a:hover {
    background: #008ae6;
    color: #ffffff;
}

.container-tabs li a .active a {
    background: #0099ff;
    color: #4d4d33;
}

.content-tab > div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #4d4d33;
    font-weight: 300;
    margin: 0 0 20px;
}

label {
    position: absolute;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    left: 13px;
    color: rgba(77, 77, 51, 0.5);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 15px;
}

label .req {
    margin: 0.1px;
    color: #4d4d33;
}

label.active {
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    left: 2px;
    font-size: 14px;
}

label.active .req {
    opacity: 0;
}

label.highlight {
    color: #4d4d33;
}

input {
    font-size: 20px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1.5px solid #008ae6;
    color: #4d4d33;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

input:focus {
    outline: none;
    border-color: #0099ff;
}

.container-input {
    position: relative;
    margin-bottom: 25px;
}

.row-up:after {
    content: "";
    display: table;
    clear: both;
}

.row-up div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.row-up div:last-child {
    margin: 0;
}

.button {
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 0;
    font-size: 1.5em;
    background: #ff6600;
    color: #ffffff;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus {
    background: #e65c00;
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
    margin-bottom: 20px;
}

.list-group-item {
    background: transparent;
}

@media screen and (max-width: 500px) {
    .row-up div {
        width: 100%;
    }

    .row-up div:last-child {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 400px) {
    .container-tabs li a {
        width: 100%;
    }
}
