<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="base::head"></head>

<body>
<div th:include="base::header"></div>
    <div class="container-fluid text-center">
        <img th:src="@{/logo.png}" class="img-responsive img-responsive margin" style="display:inline" width="350"
             height="350"/>
        <h1 class="display-4">DOBRODOŠLI</h1>
        <p class="lead">Treningomat je jednostavno aplikativno rješenje za upravljanje grupnim treninzima</p>
        <p>
            <div>
                <bold>Marko</bold>
                <blockquote class="blockquote">
                    <em><p class="mb-0">“Kao voditelj uvijek sam koristio bilježnicu, sada je stvar prošlosti.”</p></em>
                </blockquote>
    </div>
    <div>
        <bold>Ante</bold>
        <blockquote class="blockquote">
            <em><p class="mb-0">“Uvijek zaboravim kad je sljedeći trening...”</p></em>
        </blockquote>
    </div>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" th:href="@{/login}" role="button">Priključi se i ti !</a>
    </p>
</div>
</body>
</html>