<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >


<head>
    <meta charset="utf-8"/>
    <title>Treningomat</title>
    <!-- For Responsive Screen -->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
<!-- Form -->
<div class="container-form">

    <!-- Links form -->
    <ul class="container-tabs">
        <li class="tab tab-second active"><a href="#log-in">Prijava</a></li>
        <li class="tab tab-first"><a href="#registration">Registracija</a></li>
    </ul>

    <!-- Content form -->
    <div class="content-tab">

        <!-- Log in -->
        <div id="log-in">
            <a th:href="@{/home}"><h1>TRENINGOMAT</h1></a>
            <form th:action="@{/login}" method="post">
                <div class="container-input">
                    <label>
                        Korisničko ime <span class="req"></span>
                    </label>
                    <input type="text" name="username" required="required"/>
                </div>

                <div class="container-input">
                    <label>
                        Lozinka <span class="req"></span>
                    </label>
                    <input type="password" name="password" required="required"/>
                </div>

                <p class="forgot"><a href="#">Zaboravljena lozinka?</a></p>

                <input type="submit" class="button button-block" value="Prijavi se"/>
            </form>
        </div>

        <!-- Registration -->
        <div id="registration">
            <h1>TRENINGOMAT</h1>
            <form th:action="@{/registration}" method="post"
                  enctype="multipart/form-data" th:object="${attendant}">
                <div class="row-up">
                    <div class="container-input">
                        <label>
                            Ime <span class="req"></span>
                        </label>
                        <input type="text" th:field="*{name}" required="required"/>
                    </div>

                    <div class="container-input">
                        <label>
                            Prezime <span class="req"></span>
                        </label>
                        <input type="text" th:field="*{surname}" required="required"/>
                    </div>
                </div>

                <div class="container-input">
                    Mjesto stanovanja
                    <select th:field="*{city}">
                        <option th:each="c : ${allCities}" th:value="${c.id}" th:text="${c}">Grad</option>
                    </select>
                </div>

                <div class="container-input">
                    <label>
                        Ulica <span class="req"></span>
                    </label>
                    <input type="text" th:field="*{streetAndNumber}" required="required"/>
                </div>

                <div class="container-input">
                    Identifikacijska fotografija [.jpg, .png, .gif]
                    <input type="file" th:field="*{file}" required="required"/>
                </div>

                <div class="container-input">
                    <label>
                        OIB <span class="req"></span>
                    </label>
                    <input type="text" th:field="*{PID}" required="required"/>
                </div>

                <div class="container-input">
                    <label>
                        Korisničko ime <span class="req"></span>
                    </label>
                    <input type="text" th:field="*{username}" required="required"/>
                </div>

                <div class="container-input">
                    <label>
                        Lozinka <span class="req"></span>
                    </label>
                    <input type="password" th:field="*{password}" required="required"/>
                </div>

                <input type="submit" class="button button-block" value="Registriraj me"/>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>