<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">


<head th:include="base::head"></head>

<body>
<div th:replace="base :: header"></div>
<div id="page-wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Moje grupe</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <div class="container">
        <!-- Button to Open the Modal -->

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                sec:authorize="hasAuthority('TRAINER')">
            Nova grupa
        </button>

        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Unos nove grupe</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Naziv grupe</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder=""/>
                                </div>
                            </div>
                        </form>

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Maksimalan broj članova</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder=""/>
                                </div>
                            </div>
                        </form>

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Odabir sporta</label>
                                <div class="col-sm-10">
                                    <form>
                                        <div class="radio">
                                            <label><input type="radio" name="optradio"/>Rukomet</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="optradio"/>Odbojka</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="optradio"/>Košarka</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </form>


                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success">Dodaj grupu</button>
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Odustani</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Naziv grupe</th>
                    <th>Mjesto održavanja</th>
                    <th>Sport koji se trenira</th>
                    <th>Max. broj članova</th>
                    <th>Trenutni broj članova</th>
                    <th>Mogućnosti</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="g : ${allTrainingGroups}">

                    <!--
                    <li class="list-group-item clearfix">
                        <div class="caption">
                            <p th:text="'Naziv grupe: ' + ${g.name}"></p>
                            <p th:text="'Mjesto održavanja: ' + ${g.place}"></p>
                            <p th:text="'Kapacitet grupe: ' + ${g.capacity}"></p>
                        </div>
                        <span class="pull-right">
                        <form th:action="@{/trainer/groups/delete/{id}(id=${g.id})}" method="post">
                            <button type="submit" class="btn btn-danger btn-block"><span
                                    class="glyphicon glyphicon-remove"></span> Obriši</button>
                        </form>
                    </span>
                        <span class="pull-right">
                        <form th:action="@{/trainer/groups/edit/{id}(id=${g.id})}" method="get">
                            <button type="submit" class="btn btn-primary btn-block"><span
                                    class="glyphicon glyphicon-edit"></span> Uredi</button>
                        </form>
                    </span>
                        <span class="pull-right">
                        <form th:action="@{/trainer/group/{id}/attendants(id=${g.id})}" method="get">
                            <button type="submit" class="btn btn-info btn-block"><span
                                    class="glyphicon glyphicon-th-list"></span> Članovi</button>
                        </form>
                    </span>
                    </li>
                    -->

                    <tr>
                        <td th:text="${g.name}"></td>
                        <td th:text="${g.place}"></td>
                        <td th:text="${g.sport}"></td>
                        <td th:text="${g.capacity}"></td>
                        <td th:text="${g.attendants.size()}"></td>
                        <td>

                            <form th:action="@{/trainer/group/{id}/attendants(id=${g.id})}" method="get">
                                <button type="submit" class="btn btn-primary" data-toggle="modal"
                                        sec:authorize="hasAuthority('TRAINER')"><i
                                        class="fa fa-book" aria-hidden="true"></i> Članovi
                                </button>
                            </form>


                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal2"
                                    sec:authorize="hasAuthority('TRAINER')">
                                <i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i> Uredi
                            </button>


                            <div class="modal fade" id="myModal2">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Uređivanje postojeće grupe</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;
                                            </button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <form autocomplete="off" action="#"
                                                  th:action="@{/trainer/groups/edit/{id}(id=${g.id})}"
                                                  enctype="multipart/form-data"
                                                  th:object="${g}" method="post" class="form-horizontal"
                                                  role="form">
                                                <div class="form-group">
                                                    <h2>Uredi grupu</h2>

                                                    <div class="form-trainingGroup">
                                                        <div class="col-sm-9">
                                                            <input type="text" th:field="*{name}"
                                                                   th:value="${g.name}"
                                                                   class="form-control"/>
                                                        </div>
                                                    </div>

                                                    <div class="form-trainingGroup">
                                                        <div class="col-sm-9">
                                                            <select class="form-control" th:field="*{sport}">
                                                                <option th:each="s : ${trainer.getSports()}"
                                                                        th:value="${s.id}" th:text="${s}"></option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-trainingGroup">
                                                        <div class="col-sm-9">
                                                            <input type="text" th:field="*{place}"
                                                                   th:value="${g.place}"
                                                                   class="form-control"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-trainingGroup">
                                                        <div class="col-sm-9">
                                                            <input type="number" th:field="*{capacity}"
                                                                   th:value="${g.capacity}"
                                                                   class="form-control"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-trainingGroup">
                                                        <div class="col-sm-9">
                                                            <button type="submit" class="btn btn-primary btn-block">
                                                                Uredi grupu
                                                            </button>
                                                        </div>
                                                    </div>


                                                    <!--/*@thymesVar id="message" type="String"*/-->
                                                    <span th:utext="${message}"></span>

                                                </div>
                                            </form>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success">Spremi izmjene</button>
                                            <button type="button" class="btn btn-dark" data-dismiss="modal">Odustani
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#myModal3" sec:authorize="hasAuthority('TRAINER')"
                                    th:classappend="${g.attendants.isEmpty()} ? active : disabled"
                                    th:disabled="${g.attendants.isEmpty()} ? false : true"><i
                                    class="fa fa-trash" aria-hidden="true"></i> Obriši
                            </button>
                            <div class="modal fade" id="myModal3">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-8 control-label">Jeste li sigurni da želite
                                                        obrisati odabranu grupu?</label>
                                                </div>
                                            </form>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <form th:action="@{/trainer/groups/delete/{id}(id=${g.id})}"
                                                  method="post">
                                                <div class="row">
                                                    <div class="col-lg-6 col-lg-offset-3 text-center">
                                                        <button type="submit" class="btn btn-danger">Obriši</button>
                                                        <button type="button" class="btn btn-dark"
                                                                data-dismiss="modal">
                                                            Odustani
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-warning" data-toggle="modal"
                                    data-target="#myModal4" sec:authorize="hasAuthority('ATTENDANT')"><i
                                    class="fa fa-minus-square" aria-hidden="true"></i> Napusti
                            </button>
                            <div class="modal fade" id="myModal4">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-8 control-label">Jeste li sigurni?</label>
                                                </div>
                                            </form>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <form th:action="@{/attendant/group/{id}/leave(id=${g.id})}"
                                                  method="post">
                                                <button type="submit" class="btn btn-danger">Napusti</button>
                                                <button type="button" class="btn btn-dark" data-dismiss="modal">
                                                    Odustani
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>