<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">


<head th:include="base::head"></head>

<body>
<div th:replace="base :: header"></div>
<div id="page-wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Moje grupe</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <div class="container">
        <!-- Button to Open the Modal -->

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                sec:authorize="hasAuthority('TRAINER')">
            Nova grupa
        </button>

        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Unos nove grupe</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        <form class="form-horizontal" th:action="@{/trainer/addTrainingGroup}" th:object="${group}"
                              method="post" role="form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Naziv grupe</label>
                                <div class="col-sm-10">
                                    <input type="text" th:field="*{name}" placeholder=""
                                           class="form-control"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Maksimalan broj članova</label>
                                <div class="col-sm-10">
                                    <input type="number" th:field="*{capacity}" placeholder=""
                                           class="form-control"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Odabir sporta</label>
                                <div class="col-sm-10">
                                    <select class="form-control" th:field="*{sport}">
                                        <option th:each="s : ${trainer.getSports()}" th:value="${s.id}" th:text="${s}">
                                            Sport
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Mjesto održavanja</label>
                                <div class="col-sm-10">
                                    <input type="text" th:field="*{place}" placeholder=""
                                           class="form-control"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Članarina</label>
                                <div class="col-sm-10">
                                    <input type="number" step="0.01" min="0" th:field="*{amount}" placeholder=""
                                           class="form-control"/>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Dodaj grupu</button>
                                <button type="button" class="btn btn-dark" data-dismiss="modal">Odustani</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Naziv grupe</th>
                    <th>Mjesto održavanja</th>
                    <th>Sport koji se trenira</th>
                    <th>Članarina</th>
                    <th>Max. broj članova</th>
                    <th>Trenutni broj članova</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="g : ${allTrainingGroups}">
                    <tr>
                        <td th:id="${'groupName' + g.id}" th:text="${g.name}"></td>
                        <td th:id="${'groupPlace' + g.id}" th:text="${g.place}"></td>
                        <td th:text="${g.sport}"></td>
                        <td th:id="${'groupPrice' + g.id}" th:value="${g.amount}"
                            th:text="${g.amount + ' kn'}"></td>
                        <td th:id="${'groupCapacity' + g.id}" th:text="${g.capacity}"></td>
                        <td th:text="${g.attendants.size()}"></td>

                        <td>
                            <form th:action="@{/trainer/group/{id}/attendants(id=${g.id})}" method="GET">
                                <button type="submit" class="btn btn-primary"
                                        sec:authorize="hasAuthority('TRAINER')"><i
                                        class="fa fa-book" aria-hidden="true"></i> Članovi
                                </button>
                            </form>
                        </td>
                        <td>
                            <button th:id="${g.id}" type="button" class="btn btn-info editBtn" data-toggle="modal"
                                    data-target="#myModal2"
                                    sec:authorize="hasAuthority('TRAINER')">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Uredi
                            </button>


                            <div class="modal fade" id="myModal2">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Uređivanje postojeće grupe</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;
                                            </button>
                                        </div>

                                        <form id="modalForm" th:object="${group}" class="form-horizontal"
                                              method="POST">

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <div class="form-trainingGroup">
                                                        <div class="col-sm-9">
                                                            <input id="modalName" type="text" th:field="*{name}"
                                                                   class="form-control"/>
                                                        </div>
                                                    </div>

                                                    <div class="form-trainingGroup">
                                                        <div class="col-sm-9">
                                                            <input id="modalPlace" type="text" th:field="*{place}"
                                                                   class="form-control"/>
                                                        </div>
                                                    </div>

                                                    <div class="form-trainingGroup">
                                                        <div class="col-sm-9">
                                                            <input id="modalPrice" type="number" step="0.01" min="0" th:field="*{amount}" class="form-control"/>
                                                        </div>
                                                    </div>

                                                    <div class="form-trainingGroup">
                                                        <div class="col-sm-9">
                                                            <input id="modalCapacity" type="number" min="0" th:field="*{capacity}" class="form-control"/>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-success">Spremi izmjene
                                                </button>
                                                <button type="button" class="btn btn-dark" data-dismiss="modal">
                                                    Odustani
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    th:href="${'#deleteModal'+g.id}" sec:authorize="hasAuthority('TRAINER')"
                                    th:classappend="${g.attendants.isEmpty()} ? active : disabled"
                                    th:disabled="${g.attendants.isEmpty()} ? false : true"><i
                                    class="fa fa-trash" aria-hidden="true"></i> Obriši
                            </button>
                            <div class="modal fade" th:id="${'deleteModal'+g.id}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-8 control-label">Jeste li sigurni da želite
                                                        obrisati odabranu grupu?</label>
                                                </div>
                                            </form>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <form th:action="@{/trainer/groups/delete/{id}(id=${g.id})}"
                                                  method="post">
                                                <div class="row">
                                                    <div class="col-lg-6 col-lg-offset-3 text-center">
                                                        <button type="submit" class="btn btn-danger">Obriši</button>
                                                        <button type="button" class="btn btn-dark"
                                                                data-dismiss="modal">
                                                            Odustani
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-warning" data-toggle="modal"
                                    th:href="${'#leaveModal'+g.id}" sec:authorize="hasAuthority('ATTENDANT')"><i
                                    class="fa fa-minus-square" aria-hidden="true"></i> Napusti
                            </button>
                            <div class="modal fade" th:id="${'leaveModal'+g.id}">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-8 control-label">Jeste li sigurni?</label>
                                                </div>
                                            </form>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <form th:action="@{/attendant/group/{id}/leave(id=${g.id})}"
                                                  method="post">
                                                <button type="submit" class="btn btn-danger">Napusti</button>
                                                <button type="button" class="btn btn-dark" data-dismiss="modal">
                                                    Odustani
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>

            <!--/*@thymesVar id="message" type="String"*/-->
            <span th:utext="${message}"></span>
        </div>
    </div>
</div>
</body>

<script>
    $(".editBtn").click(function (e) {
        $("#modalForm").attr('action', '/trainer/groups/edit/' + e.target.id);
        $("#modalName").val($("#groupName" + e.target.id).html());
        $("#modalPrice").val($("#groupPrice" + e.target.id).attr('value'));
        $("#modalPlace").val($("#groupPlace" + e.target.id).html());
        $("#modalCapacity").val($("#groupCapacity" + e.target.id).html());
    });
</script>
</html>