<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Registracija</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>


    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <!--todo-->
                    <form th:action="@{/registration}" method="post" class="form-horizontal" role="form"
                          enctype="multipart/form-data" th:object="${attendant}"
                    >

                        <h2 class="form-register-heading">Registrirajte se</h2>
                        <br/>

                        <div class="form-trainer">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{name}" placeholder="Ime" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-register">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{surname}" placeholder="Prezime" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-register">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{PID}" placeholder="OIB" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-register">
                            <div class="col-sm-9">
                                <select th:field="*{city}" class="form-control">
                                    <option th:each="c : ${allCities}" th:value="${c.id}" th:text="${c}">Grad</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-register">
                            <div class="col-sm-9">
                                <input type="file" th:field="*{file}" placeholder="Slika [.jpg, .gif, .png]"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class="form-register">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{username}" placeholder="username" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-register">
                            <div class="col-sm-9">
                                <input type="password" name="password" th:field="*{password}" placeholder="password"
                                       class="form-control"/>
                            </div>
                        </div>

                        <!--todo   provjeriti dali su oba passworda ista...-->

                        <div class="form-register">
                            <div class="col-sm-9">
                                <input type="password" name="password-confirm" placeholder="potvrdite password"
                                       class="form-control" onkeypress=""/>
                            </div>
                        </div>


                        <div class="form-register">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">Registriraj se</button>
                            </div>
                        </div>


                        <div class="form-register">
                            <div class="col-sm-9">
                                <span th:utext="${message}"></span>
                                <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                       class="validation-message"></label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>