<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<head th:include="base::head"></head>

<body>
<div th:replace="base :: header"></div>
<div id="page-wrapper">
    <div class="container-fluid">
        <h2>Popis sportova</h2>

        <div class="row">
            <div class="container">
                <ul class="list-group">
                    <div th:each="s : ${allSports}">
                        <li class="list-group-item clearfix">
                            <span th:text="${s.name}"></span>
                            <span sec:authorize="hasAuthority('ADMIN')"
                                  class="pull-right button-group">
                                    <form th:action="@{/admin/sports/delete/{id}(id=${s.id})}" method="post">
                                        <button type="submit" class="btn btn-danger"><span
                                                class="glyphicon glyphicon-remove"></span> Obriši</button>
                                    </form>
                        </span>
                            <span class="pull-right button-group">
                                    <form th:action="@{/sport/{id}/groups(id=${s.id})}" method="get">
                                        <button type="submit" class="btn btn-primary"><span
                                                class="glyphicon glyphicon-list"></span> Grupe</button>
                                    </form>
                        </span>
                        </li>
                    </div>
                </ul>
            </div>
        </div>

    </div>
</div>
</body>
<script>
    $(function () {
        $('.btn-danger').click(function () {
            return window.confirm("Jesi li siguran da želiš obrisati ?");
        });
    });
</script>
</html>