<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="base::head"></head>

<body>
<div th:replace="base :: header"></div>
<div id="page-wrapper">
    <div class="container-fluid">
        <h2>Popis trenera</h2>
        <div class="row">
            <div class="col-md-4" th:each="t : ${allTrainers}">
                <div class="thumbnail">
                    <img th:src="@{'/images_trainers/' + ${t.idPhoto}}" style="width:100%"/>
                    <div class="caption">
                        <a th:href="@{/trainer/comments}" th:text="${t.name + ' ' + t.surname}"></a>
                        <p th:text="${t.address}"></p>
                        <p th:text="${t.phoneNumber}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>