<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="base::head"></head>

<body>
<div th:replace="base :: header"></div>
<div id="page-wrapper">
    <div class="container">
        <form autocomplete="off" th:action="@{/playground/newEntry}"
              enctype="multipart/form-data"
              th:object="${entry}" method="post" class="form-horizontal"
              role="form">
            <h4>Unosite novu temu</h4>

            <div class="form-trainingGroup">
                <div class="col-sm-9">
                    <input class="form-control" type="text" placeholder="Naslov" th:field="*{title}"
                           required="required"/>
                </div>
            </div>

            <div class="form-trainingGroup">
                <div class="col-sm-9">
                        <textarea class="form-control" placeholder="Reci što ti je na umu ..."
                                  th:field="*{text}"></textarea>
                </div>
            </div>

            <div class="form-trainingGroup">
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-primary btn-block">Dodaj temu</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <ul class="list-group">
            <div th:each="e : ${allEntries}">
                <li class="list-group-item clearfix">
                    <a th:href="@{/playground/entry/{id}(id=${e.id})}"><span th:text="${e.title}"></span></a>
                </li>
            </div>
        </ul>
    </div>
</div>
</body>
</html>