<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Treningomat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <h1></h1>
</div>

<div class="container">
    <ul class="list-group">
        <div th:each="e : ${allEntries}">
            <li class="list-group-item clearfix">
                <a th:href="@{/playground/entry/{id}(id=${e.id})}"><span th:text="${e.title}"></span></a>
            </li>
        </div>
    </ul>
</div>
</body>
</html>